<% provide(:title, "Détail Partenaire") %>




<div class="row" >

  <div   class="col-xs-0 col-md-4 col-lg-4 " > </div>


<!--  -----------------------------  Pour PC  --------------------------------------------------- -->


  <div   class="col-xs-12 col-md-4 col-lg-4  hidden-xs" >




 

				        <div class="monecriture">
				          <strong>Nom:</strong>
				          <%= @partenaire.nom %>
				        </div>


				       <div class="monecriture">
				          <strong>Email:</strong>
				          <%= @partenaire.email %>
				        </div>

				        <div class="monecriture">
				          <strong>Adresse:</strong>
				          <%= @partenaire.adresse %>
				        </div>

				        <div class="monecriture">
				          <strong>Ville:</strong>
				          <%= @partenaire.ville %>
				        </div>

				         <div class="monecriture">
				          <strong>Téléphone:</strong>
				          <%= @partenaire.telephone %>
				        </div>

				        


				        <div class="monecriture">

				        <%= link_to 'Modifier ce compte', edit_partenaire_path(@partenaire) %> 

				        </div>
				        <div class="monecriture">

				         <%= link_to 'Supprimer ce compte', @partenaire, method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer ce compte?' } %>
				        </div>


      </div>



      <div   class="col-xs-0 col-md-4 col-lg-4 " > </div>



  </div>


      <!--  ------------------------------------------------------------------------------------------------------------  -->

      <!--  -----------------------------  Pour Mobile  --------------------------------------------------- -->


  <div   class="col-xs-12 col-md-4 col-lg-4  hidden-md hidden-lg"   >





   
         <div class="invitation" style="border-radius:5px 5px 5px 5px;padding:15px;">






         <div class="monecriture">
          <strong>Nom:</strong>
          <%= @partenaire.nom %>
        </div>


       <div class="monecriture">
          <strong>Email:</strong>
          <%= @partenaire.email %>
        </div>

        <div class="monecriture">
          <strong>Adresse:</strong>
          <%= @partenaire.adresse %>
        </div>

        <div class="monecriture">
          <strong>Ville:</strong>
          <%= @partenaire.ville %>
        </div>

         <div class="monecriture">
          <strong>Téléphone:</strong>
          <%= @partenaire.telephone %>
        </div>

        




        <div class="monecriture">

        <%= link_to 'Modifier ce compte', edit_partenaire_path(@partenaire) %> 

        </div>
        <div class="monecriture">

         <%= link_to 'Supprimer mon compte', @partenaire, method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer ce compte?' } %>
        </div>






      </div>


      </div>

      <!--  ------------------------------------------------------------------------------------------------------------  -->

      