<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <body>


  
<% var2="http://billetgratuit.herokuapp.com/images/logo.png"  %>

<% var3="http://billetgratuit.herokuapp.com/assets/facebook-7b54e617b9f47c1dbad9e62f599fa5cd.png"  %>

<% var4="http://billetgratuit.herokuapp.com/assets/twitter-f539c88b26a6b5454bdb9b089cf9c7d9.png"  %>

<% var5="http://billetgratuit.herokuapp.com/images/simplon.png"  %>




	                        <div style="background:background: none repeat scroll 0% 0% rgb(248, 248, 248);" >

                               
                                	
                                    <a href="http://billetgratuit.com">
                                   <img src="<%= var2 %>" alt="arobas" style="width:40%;" />
                                    </a>
                                  
                                
                                  
                                         
                              </div>



                              <div class="row " >

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center " >



<div style="font-size:20px;"> 



   
  <h2><%= @mailgeneral.body %></h2>


  Bonjour, Suite à notre conversation téléphonique, voici les détails de notre offre:

 



  <br><br>

  Billetgratuit.com est un site qui propose des <b>invitations</b> 100 % gratuites de qualité (Théâtre,Concert...) ainsi que des <b>tarifs préférentiels</b>. <br><br>

  Le site met en ligne les nouvelles invitations à des dates et horaires fixes, celles-ci sont annoncées quelques jours plus tôt sur les réseaux sociaux et par newsletters, ce qui crée un <b>mini événement</b> à chaque mise en ligne (Tous les jeudi à 20h00).<br><br>

   La régle d'attribution des invitations est: Premier arrivé, premier servi.<br><br>


  <b> Les avantages pour les partenaires : </b>  <br><br>

  

- Une <b>grande visibilité</b> et un moyen, pour les partenaires, de s'offrir une <b>publicité gratuite.</b><br><br>

- une façon de <b>promouvoir</b> un nouvel événement ou de lancer un nouveau produit (pièce de théâtre qui démarre,Concert, etc....) les ressources sont illimitées et inépuisables. <br><br>


- <b>Ventes de produits</b> en proposant des tarifs préférentiels une fois les invitations épuisées.<br><br> 


- Un concept qui donne une <b>impulsion</b> pour découvrir de nouveaux lieux . <br><br>



- La Start up Billetgratuit.com est soutenue par l'incubateur Simplon.co partenaire de grandes sociétés telles :  Orange, Fabernovel ... et vainqueur du concours entrepreneuriat Samsung Launching people.<br><br><br>



<div style="font-size:23px;"> 

Si vous êtes intéressés pour mettre vos <b>produits en avant</b> contactez nous sur :<br><br> billetgratuitparis@gmail.com <br><br>

</div>





Bonne journée. <br><br>




Contact: Julien Waterlot (06 41 80 08 30)  





   </div>

</div>   


    <br><br><br><br>                           
                         
                              


	

    

  <div style="align:center;">
     <p>
                                   <a href="https://www.facebook.com/Simplon.co?fref=ts">
                                   <img src="<%= var3 %>" alt="arobas" height="50" />
                                    </a>
                                     <a href="https://twitter.com/Billetsgratuit">
                                   <img src="<%= var4 %>" alt="arobas" height="50" />
                                    </a>
                          
      </p> 

        
         
         
    </div>


    <div >
     <p>
                                   <a href="https://www.facebook.com/Simplon.co?fref=ts">
                                   <img src="<%= var5 %>" alt="arobas" height="50" />
                                    </a>
                                    
      </p> 


       <p  class="couleurgrise fondgris" style="font-size:15px;"> Copyright &copy; Billetgratuit.com 2014 </p>
       

         
         
         
    </div>







            <!-- ------------------------------------------------------------- -->


   </body>
</html>

