
 <div class="row " >

    <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4 text-center " ></div>


     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center " >





                                  <%= form_for(@invitation) do |f| %>
                                    <% if @invitation.errors.any? %>
                                      <div id="error_explanation">
                                        <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this author from being saved:</h2>

                                        <ul>
                                        <% @invitation.errors.full_messages.each do |msg| %>
                                          <li><%= msg %></li>
                                        <% end %>
                                        </ul>
                                      </div>
                                    <% end %>

                                    <p>
                                      <%= f.label :Titre %><br />
                                      <%= f.text_field :titre %>
                                    </p>

                                   
                                    <p>
                                      <%= f.label :Description %><br />
                                      <%= f.text_area :description %>
                                    </p>


                                    <p>
                                      <%= f.label :Adresse %><br />
                                      <%= f.text_area :vraiadresse %>
                                    </p>




                                   



                                 

                                      

                                          
                                  <br><br>
                                    <div class="button" style="font-size:22px;" >
                                      <%= f.submit 'valider' %>
                                    </div>
                                  <% end %>


              <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4 text-center " ></div>


          </div>

         

         
  </div>


<script type="text/javascript">
  $('.datepicker').datepicker()
  $('[data-behaviour~=datepicker]').datepicker();
</script>

